.contListaProd{
    width: 90%;
    margin: 20px;
}

.contInput{
    width: 300px;
}

.contLabel{
    margin-top: 20px;
}

.button_pag{
    color: pink;
    margin-right: 5px;
}

.active>.page-link, .page-link.active {
    background-color: pink;
    border-color: pink;
}

.page-link:focus {
    background-color: pink;
    border-color: pink;
}

.btn-outline-success {
    --bs-btn-color: pink;
    --bs-btn-border-color: pink;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: pink;
    --bs-btn-hover-border-color: pink;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: pink;
    --bs-btn-active-border-color: pink;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: pink;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: pink;
    --bs-gradient: none;
}

@media (max-width: 340px) {
    .contInput{
        width: 180px;
    }
}

@media (max-width: 445px) {
    .contInput{
        margin-bottom: 10px;
    }
}
